@model Texxtoor.DataModels.Models.Cms.CmsMenu

@{
    PageData["Title"] = "Menu (CMS)";
    Layout = Url.GetGlobalLayout("_LayoutAdmin", "AdminPortal");
}
@using (Html.BeginForm()) {
  using (Html.BtFieldset("Menu Properties")) {
    @Html.DisplayForModel()
  }
  <div class="formsendButtons">
    @Html.ActionLink("Edit Menu", "Edit", new {id = Model.Id}, new {@class = "btn btn-sm btn-default"})
    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-sm btn-primary"})
  </div>
}