<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
   
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="PortalContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PortalDatabase;Integrated Security=True;MultipleActiveResultSets=true" />
    <add name="StorageConnection" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="Texxtoor.BaseLibrary.Core.Extensions" />
        <add namespace="Texxtoor.EasyAuthor" />
        <add namespace="Texxtoor.DataModels" />
        <add namespace="Texxtoor.BusinessLayer" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <appSettings>
    <!-- .NET Internal -->
    <add key="webpages:Enabled" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Provider -->
    <add key="texxtoor:BINGAppId" value="6829FA69415941B01C97D4CB7BCF49BDD7DE2BB0" />
    <add key="texxtoor:BINGAppName" value="TexxtoorReaderPortal" />
    
    <add key="texxtoor:LiveAppName" value="texxtoor" />    
    <add key="texxtoor:LiveClientId:de" value="000000004007E010" />
    <add key="texxtoor:LiveClientSecret:de" value="rySVaX8Fhvp70QW-saI5f1kT5qg3cEu2" />

    <add key="texxtoor:FaceBookAppName" value="texxtoor" />
    <add key="texxtoor:FaceBookAppId:de" value="198995333513170" />
    <add key="texxtoor:FacebookAppSecret:de" value="27e2854d20eca072c430308b70c89ec9" />
    <add key="texxtoor:FaceBookAppId:com" value="490167067754022" />
    <add key="texxtoor:FacebookAppSecret:com" value="68c43bfb6290d47faeeb09f7400502ab" />
    <add key="texxtoor:FaceBookContact" value="joerg@augmentedcontent.de" />
    <add key="texxtoor:FaceBookSupport" value="joerg@krause.net" />

    <add key="texxtoor:TwitterConsumerKey:de" value="BC8CUnC0mlQQtsgHBe5EgA" />
    <add key="texxtoor:TwitterConsumerSecret:de" value="EEd75azvMaYASV0DlEjVDqzmCM5WuPMwSmBckJfhjv0" />
    
    <add key="texxtoor:LinkedInAppName" value="texxtoor" />
    <add key="texxtoor:LinkedInAPIKey" value="nnba9jt278ot" />
    <add key="texxtoor:LinkedInAppSecret" value="P9LSWID8HUbN5ta9" />
    
    <add key="texxtoor:DocRaptorAPIKey" value="SDFgMLk30tfHqxjUHPOu" />
    <add key="texxtoor:ReCaptchaDomain" value="captcha.texxtoor.com" />
    <add key="texxtoor:ReCaptchaPublicKey" value="6Lcv3eESAAAAANbM-Az6U5PCU2HgYvCAI6IO_blR" />
    <add key="texxtoor:ReCaptchaPrivateKey" value="6Lcv3eESAAAAAF5WEh_Efz7aYmD3ayk8zknNVKIS" />
    <add key="texxtoor:ReCaptchaDomain" value="captcha.texxtoor.com" />
    
    <add key="paypal:CURRENCYCODE" value="EUR" />
    <add key="paypal:API_ApplicationId" value="APP-80W284485P519543T" />
    <add key="paypal:API_RequestDataFormat" value="NV" />
    <add key="paypal:API_ResponseDataFormat" value="NV" />
    <add key="paypal:PayPalUserId" value="joerg@augmentedcontent.de" />
    <add key="paypal:UseSandBox" value="false" />
    <add key="paypal:API_USERNAME-Sandbox" value="joerg-facilitator_api1.augmentedcontent.de" />
    <!-- joerg-facilitator@augmentedcontent.de -->
    <add key="paypal:API_PASSWORD-Sandbox" value="1376670081" />
    <!-- fact-26051964 -->
    <add key="paypal:API_SIGNATURE-Sandbox" value="AALssKg7HKC-eUaUyGd39A11OhXUAOxfRBtnglQOTUTxzvIw4AecNKE5" />
    <add key="paypal:API_USERNAME" value="joerg_api1.augmentedcontent.de" />
    <add key="paypal:API_PASSWORD" value="VDC4E4TQXF9EHZRX" />
    <add key="paypal:API_SIGNATURE" value="A6BazDIbahN2Z8To87SvFNpgPIXXALy.4W1NLzVkByn3YVxhLixTGFST" />
    <add key="paypal:Timeout" value="20000" />

    <!-- texxtor common -->
    <add key="SupportedCultures" value="en,de" />
    <add key="DisableLocalizationCache" value="false" />
    <add key="UseRolesInUI" value="true" />
    <add key="FeatureSet" value="texxtoor" />
    <add key="UseHttps" value="false" />
    <add key="MaxImportUploadSize" value="104857600" />
    <add key="StorageType" value="Azure" /><!-- User can modify to host on regular IIS with the value "file", data goes to App_Data, then -->

    <add key="texxtoor:EditorImageShrinkSize" value="800" />
    <add key="texxtoor:ac2" value="false" />
    <add key="texxtoor:isBeta" value="true" />
    <add key="BarCodeFontFamily" value="\bin\Utilities\Imaging\Barcode\Fonts\FREE3OF9.TTF" />
    <add key="BarCodeFontFile" value="3of9" />
    <add key="NewRelic.AppName" value="Texxtoor.EasyAuthor" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Web" switchValue="Information, ActivityTracing,Warning,Error,Critical" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="E:\Temp\TexxtoorPortal.e2e" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="LogicalOperationStack" initializeData="E:\Temp\WCFTrace.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
      <error statusCode="400" redirect="/Tools/Error/400" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Texxtoor.BaseLibrary.Core" />
      </assemblies>
    </compilation>
    <globalization culture="auto" uiCulture="auto" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/LogOn" timeout="2880" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Texxtoor.Portal.Core.Extensions" />
        <add namespace="Texxtoor.BaseLibrary.Core.Extensions" />
        <add namespace="Texxtoor.EasyAuthor" />
      </namespaces>
    </pages>
    <!-- Need this for ValidateRequest == false, which supports sending HTML through forms -->
    <httpRuntime maxRequestLength="104857600" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Menu" duration="60" varyByParam="menuName" location="Server" />
          <add name="Statistics" duration="3600" varyByParam="none" location="Server" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <trust level="Full" />
    <identity impersonate="false" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      
      
    </handlers>
    <staticContent>
      <!-- Regarding Remove: http://jingyangli.wordpress.com/2012/04/05/iis-7-5-error-caused-by-adding-mimemap-to-dnn-site-duplicate-entry-for-the-same-mimetype/ -->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="mail@texxtoor.com">
        <network host="smtp.1und1.de" defaultCredentials="false" userName="mail@texxtoor.com" password="Texxtoor!2011" />
      </smtp>
    </mailSettings>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  
</configuration>