<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="PortalContext"
      connectionString="Server=tcp:uqcosa8arp.database.windows.net,1433;Database=PortalDatabase;User ID=sql-admin-portal@uqcosa8arp;Encrypt=True;Password=Texxtoor!2011;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=true;Connection Timeout=60"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="StorageConnection"
      connectionString="DefaultEndpointsProtocol=https;AccountName=texxtoor;AccountKey=PHe4QoxQ1pSWpDXAj9ArOwptTq1uCQX4Tf5UU9UPyjtJQR9v5/t2J34zF0AXMRQUM0BH4u66HoTGJzpdFNfPnw=="
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!-- for support of Razor 3 in VS 2012 -->
    <add key="webpages:Version" value="3.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="texxtoor:ac2" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" allowNestedErrors="true"></customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>