<img src="~/Content/icons/Editor/delete2_16.png" class="metaDataClose" alt="Close" />
<table>
  <caption>
    Snippet Meta Data</caption>
  <tr>
    <td colspan="2">
      <label>Name (for reference links):</label><br />
      <input type="text" name="metadata-@ViewBag.SnippetId-name" id="metadata-@ViewBag.SnippetId-name" value="@ViewBag.SnippetName" />
    </td>
  </tr>
  <tr>
    <td>
      Add user specific meta data here!
    </td>
    <td>
      More here!
    </td>
  </tr>
</table>
