@Loc("text", @"
<h2>
  Auf einen Blick</h2>
  <hr class=""Height1"" />
<h3>
  Dein Name</h3>
<strong>Titel</strong> <strong>Firma</strong>
<strong>Geschäftlicher Kontakt</strong>
<ul>
  <li>Musterweg 123</li>
  <li>12345 Musterstadt</li>
  <li>Deutschland</li>
</ul>
<strong>Kommunikation</strong>
<ul>
  <li>+49 30 12 34 56 78</li>
  <li>+49 30 98 87 76 65</li>
  <li>name@firma.de</li>
</ul>
<h2>
  Über mich</h2>
<hr class=""Height1""/>
Ich bin als <b>Autor</b>, <b>Lektor</b> und <b>Übersetzer</b> aktiv.
<br />
Schwerpunkt ist alles rund um Technologie:
<br />
<ul>
  <li>dies</li>
  <li>das</li>
  <li>und jenes</li>
</ul>
Ich habe zahlreiche Bücher veröffentlicht, u.a:
<ul>
  <li>Tolles Buch</li>
  <li>Besseres Buch</li>
</ul>
<h2>
  Persönliches</h2>
<hr class=""Height1"" />
<label>
  Ich suche</label>
<p class=""editor-field"">
  Partner für Buchprojekte und Softwareprojekte.</p>
<label>
  Ich biete</label>
<p class=""editor-field"">
  Softwareentwicklung</p>
<label>
  Interessen</label>
<p class=""editor-field"">
  Bücher schreiben und lesen</p>
")