@model Texxtoor.ViewModels.Users.RegisterViewModel
@{
  Layout = Url.GetGlobalLayout("_LayoutCommon");
  PageData["Title"] = Loc("title1", "Welcome {0}", Model.UserName);
}
<div class="alert alert-info">
    @Loc("text1", "Welcome to texxtoor. Your account is temporarily activated and you can start working immediately.")
</div>
@Html.Heading(HtmlHeading.H2, Loc("confirmStart", "How to begin?"))
<div class="well well-sm">
    @Loc("confirmText", "Start creating your first project now. Remember to confirm your email to get access to all features.")
</div>

@Create.ActionLink("lnkConf2", true, Url.Action("Index", "Project", new { area = "AuthorPortal" }), ViewResources.Action_Project_ShowDashboard, "btn btn-lg btn-default")

@*@if(Model.ProviderList.Count>0)
{
<div>
    It seems that you have also registered with the same email from these social networks<br />
    <ol>
        foreach(ListItem li in Model.ProviderList)
        {
        <li>li.value</li>
        }
    </ol>
</div>
}*@
