@model Texxtoor.DataModels.Models.Content.Project
<div class="well well-sm">
  @Loc("textAlert", @"This section shows current alerts by members, news from team and messages send to the public.")
  @Loc("textRoom", @"This section gives access to the team's discussion board. The discussion board is a private space on a 'per project' base.")
</div>
@Create.MainContentWithLoader("board")
@Create.ActionTask("gotoMessageBoard", false, Url.Action("MessageBoard", new { id = Model.Id }), ViewResources.TasksButton_MessageBoard)

