@model Texxtoor.DataModels.Models.Content.Project
@using (Html.BtDiv(BtStyle.WellAndSmall)) {
  @Loc("textTerms", @"These Terms are additional to the common contract term between lead-author and team members. Each member of the team
must approve these terms before the Content can be published")
}
@if (String.IsNullOrEmpty(Model.TermsAndConditions)) {
  using (Html.BtDiv(BtStyle.AlertAndError)) {
    @Loc("noText", "There are no conditions defined")
  }
}
else {
   using (Html.BtDiv(BtStyle.AlertAndWarning)) {
     <div  id="projectTerms">@Html.Raw(Model.TermsAndConditions)</div>
   }
   using (Html.BtDiv(BtStyle.AlertAndInfo)) {
     if (Model.ApproveTerms) {
      @:@Loc("textApproveReq", @"It is necessary that all team members agree with these terms")
 } else {
      @:@Loc("textApproveNo", @"Terms do not require approval.")
 }
   }
}