<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUploadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.texxtoor.de/serviceapi/Services/UploadService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUploadService"
                contract="PlatformService.IUploadService" name="BasicHttpBinding_IUploadService" />
        </client>
    </system.serviceModel>
</configuration>