@model Texxtoor.DataModels.Models.Content.Project
@if (Model.Marketing != null) {
  @:@Loc("textYesMarketing", @"This project currently has the package <em><span data-args='0' data-desc='Package'>{0}</span></em> assigned", Model.Marketing.Name)
} else {
  <div class="alert alert-warning">
    @Loc("textNoMarketing", @"This project has no package. Select one from list below or create a new suitable one.")
  </div>
}