<?xml version="1.0" encoding="utf-8" ?>
<ImageOptimizationSettings>
    <FileFormat>png</FileFormat>
    <Base64Encoding>true</Base64Encoding>
    <Quality>80</Quality>
    <MaxSize>450</MaxSize>
    <BackgroundColor>00000000</BackgroundColor>
    <TileInYAxis>true</TileInYAxis>
</ImageOptimizationSettings>