@model MembershipPasswordFormat
<select name="PasswordFormat">
  <option value="0" @(Model == MembershipPasswordFormat.Clear ? "selected" : "")>Clear</option>
  <option value="2" @(Model == MembershipPasswordFormat.Encrypted ? "selected" : "")>Encrypted</option>
  <option value="1" @(Model == MembershipPasswordFormat.Hashed ? "selected" : "") >Hash</option>
</select>