<div class="book-item">
    <div class="cover">
        <a style="display: inline-block; overflow: hidden;" href="" ui-sref="more">
          + 3 more items
        </a>
    </div>
    <div class="description">
        <div>
            <h2>There are {{more}} items</h2>
            <h3>Click to see more</h3>            
        </div>

    </div>
</div>

