@model Texxtoor.DataModels.Models.Content.Project

@{
  PageData["Title"] = "Delete Project";
  Layout = Url.GetGlobalLayout("_LayoutAdmin", "AdminPortal");
}
<div class="alert alert-danger">Are you sure you want to delete this?</div>
<fieldset>
  <legend>Project</legend>
  @Html.DisplayForModel()
</fieldset>
@using (Html.BeginForm()) {
  <div class="formsendButtons">
    <button type="submit" class="btn btn-sm btn-danger">Delete</button>    
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-default" })
  </div>
}
