<li>
  <h2>Font (non semantic)</h2>
  <div class="ribbon-button" data-command="format" data-action="bold" onmousedown="return false;">
    <img src="~/Content/icons/Editor/text_bold_24.png" alt="Bold" />
    <span>Bold</span>
  </div>
  <div class="ribbon-button" data-command="format" data-action="italic" onmousedown="return false;">
    <img src="~/Content/icons/Editor/text_italics_24.png" alt="Italic" />
    <span>Italic</span>
  </div>
  <div class="ribbon-button" data-command="format" data-action="underline" onmousedown="return false;">
    <img src="~/Content/icons/Editor/text_underlined_24.png" alt="Underline" />
   <span>Underline</span>
  </div>
  <div class="ribbon-button" data-command="format" data-action="subscript" onmousedown="return false;">
    <img src="~/Content/icons/Editor/text_subscript_24.png" alt="Sub" />
    H<sub>2</sub>O
  </div>
  <div class="ribbon-button" data-command="format" data-action="superscript" onmousedown="return false;">
    <img src="~/Content/icons/Editor/text_superscript_24.png" alt="Super" />
    m<sup>2</sup>
  </div>
</li>
<li>
  <h2>Formatting (non semantic)</h2>
  <div class="ribbon-button" data-command="format" data-action="unorderedList" onmousedown="return false;">
    <img src="~/Content/icons/Editor/ul_list_24.png" alt="unsortedlist" />
    <span>Bullets</span>
  </div>
  <div class="ribbon-button" data-command="format" data-action="orderedList" onmousedown="return false;">
    <img src="~/Content/icons/Editor/ol_list_24.png" alt="sortedlist" />
    <span>Numbers</span>
  </div>
</li>
<li>
  <h2>Editing</h2>
  <div class="ribbon-button" data-command="format" data-action="undo" onmousedown="return false;">
    <img src="~/Content/icons/Editor/undo_24.png" alt="undo" />
    <span>Undo</span>
  </div>
</li>