<li>
  <h2>1. Choose Dimensions</h2>
      <span style="display: inline-block; margin-top: 22px"><input type="text" maxlength="3" style="width: 26px" name="rows" value="4" />
        Rows</span>
      <span style="display: inline-block; margin-top: 22px"><input type="text" maxlength="3" style="width: 26px" name="cols" value="3" />
        Columns</span>
</li>
<li>
  <h2>2. Insert Table with Style</h2>
  <div class="ribbon-button" data-command="insert" data-action="table" data-option="simple">
    <img src="~/Content/icons/Editor/Tables/table_simple.png" alt="" />
    <span>Simple</span>
  </div>
  <div class="ribbon-button" data-command="insert" data-action="table" data-option="leadcol">
    <img src="~/Content/icons/Editor/Tables/table_leadcol.png" alt="" />
    <span>Leading Column</span>
  </div>
  <div class="ribbon-button" data-command="insert" data-action="table" data-option="grid">
    <img src="~/Content/icons/Editor/Tables/table_grid.png" alt="" />
    <span>Grid</span>
  </div>
</li>
<li>
  <h2>Table Tools</h2>
  <div class="ribbon-list">
    <div class="ribbon-button" data-command="format" data-action="insertcolumn">
      <input type="image" class="imgButton ins col" alt="Insert Column" src="~/Content/icons/Editor/Tables/table_column_add.png" title="Insert Col" />
      <span>Insert Column</span>
    </div>
    <div class="ribbon-button" data-command="format" data-action="appendcolumn">
      <input type="image"  class="imgButton ins col" alt="Append Column" src="~/Content/icons/Editor/Tables/table_column_add.png" title="Append Col"  />
      <span>Append Column</span>
    </div>
    <div class="ribbon-button" data-command="format" data-action="deletecolumn">
      <input type="image"  class="imgButton del col" alt="Delete Column" src="~/Content/icons/Editor/Tables/table_column_delete.png" title="Delete Col" />
      <span>Delete Column</span>
    </div>
  </div>
  <div class="ribbon-list">
    <div class="ribbon-button" data-command="format" data-action="insertrow">
      <input type="image"  class="imgButton ins row" alt="Insert Row" src="~/Content/icons/Editor/Tables/table_row_add.png" title="Insert Row" />
      <span>Insert Row</span>
    </div>
    <div class="ribbon-button" data-command="format" data-action="appendrow">
      <input type="image"  class="imgButton ins row" alt="Append Row" src="~/Content/icons/Editor/Tables/table_row_add.png" title="Append Row" />
      <span>Append Row</span>
    </div>
    <div class="ribbon-button" data-command="format" data-action="deleterow">
      <input type="image" class="imgButton del row" alt="Delete Row" src="~/Content/icons/Editor/Tables/table_row_delete.png" title="Delete Row" />
      <span>Delete Row</span>
    </div>
  </div>
  <div class="ribbon-list">
    <div class="ribbon-button" data-command="format" data-action="mergecells">
      <input type="image"  class="imgButton ins cells" alt="Merge Cells" src="~/Content/icons/Editor/Tables/table2_selection_cell.png" title="Merge Cells" />
      <span>Merge Cells</span>
    </div>
    <div class="ribbon-button" data-command="format" data-action="splitcells">
      <input type="image"  class="imgButton ins cells" alt="Split Cells" src="~/Content/icons/Editor/Tables/table2_selection_cell.png" title="Merge Cells" />
      <span>Split Cells</span>
    </div>
    <div class="ribbon-button" data-command="format" data-action="showTableOptions">
      <input type="image"  class="imgButton ins props" alt="Edit Table" src="~/Content/icons/Editor/Tables/tables_edit.png" title="Edit Table" />
      <span>Edit Table</span>
    </div>
  </div>
  