<li>
  <h2>Clipboard</h2>
  <div class="ribbon-button" data-command="format" data-action="paste" onmousedown="return false">
    <img src="~/Content/icons/Editor/paste_24.png" alt="Paste" />
    <span>Paste</span>
  </div>
  <div class="ribbon-list">
    <div class="ribbon-button" data-command="format" data-action="cut" onmousedown="return false">
      <img src="~/Content/icons/Editor/cut_24.png" alt="Cut" width="16" height="16" />
      <span>Cut</span>
    </div>
    <div class="ribbon-button" data-command="format" data-action="copy" onmousedown="return false">
      <img src="~/Content/icons/Editor/copy_24.png" alt="Copy" width="16" height="16" />
      <span>Copy</span>
    </div>
    </div>
</li>
<li>
  <h2>Insert Section</h2>
  <div class="ribbon-button" data-command="insert" data-action="chapter" onmousedown="return false">
    <img src="~/Content/icons/Editor/newspaper_add_24.png" alt="Chapter" />
    <span>Chapter</span>
  </div>
  <div class="ribbon-list">
    <div class="ribbon-button" data-command="insert" data-action="section" style="float:none !important" onmousedown="return false">
      <img src="~/Content/icons/Editor/newspaper_16.png" alt="Section" />
      <span>1.1</span>
    </div>
    <div class="ribbon-list"  onmousedown="return false">
      <span>Sub Section</span>
      <ul class="ribbon-theme">
        <li class="ribbon-button" data-command="insert" data-action="subsection" onmousedown="return false">1.1.1</li>
        <li class="ribbon-button" data-command="insert" data-action="subsubsection" onmousedown="return false">1.1.1.1</li>
        <li class="ribbon-button" data-command="insert" data-action="subsubsubsection" onmousedown="return false">1.1.1.1.1</li>
      </ul>
    </div>
    <section class="clear"></section>
  </div>
</li>
<li>
  <h2>Insert Content</h2>
  <div class="ribbon-button" data-command="insert" data-action="text" onmousedown="return false">
    <img src="~/Content/icons/Editor/document_add_24.png" alt="Text" />
    <span>Text</span>
  </div>
  <div class="ribbon-button" data-command="insert" data-action="listing" onmousedown="return false">
    <img src="~/Content/icons/Editor/code_24.png" alt="Listing" />
    <span>Listing</span>
  </div>
  <div class="ribbon-button" data-command="insert" data-action="sidebar" onmousedown="return false">
    <img src="~/Content/icons/Editor/window_sidebar_24.png" alt="Sidebar" />
    <span>Sidebar</span>
  </div>
</li>
<li>
  <h2>Show Widget Tab</h2>
  <div class="ribbon-button" data-command="showpane" data-action="tablePane" onmousedown="return false">
    <img src="~/Content/icons/Editor/table2_add_24.png" alt="Table" />
    <span>Table</span>
  </div>
  <div class="ribbon-button" data-command="showpane" data-action="imagePane" onmousedown="return false">
    <img src="~/Content/icons/Editor/photo_landscape_24.png" alt="Figure" />
    <span>Figure</span>
  </div>
  <div class="ribbon-button" data-command="showpane" data-action="equationPane" onmousedown="return false">
    <img src="~/Content/icons/Editor/code_24.png" alt="Equation" />
    <span>Equation</span>
  </div>
</li>
<li>
  <h2>Delete</h2>
  <div class="ribbon-button" data-command="delete" data-action="snippet" onmousedown="return false">
    <img src="~/Content/icons/Editor/delete_24.png" alt="Delete" />
    <span>Delete Snippet</span>
  </div>
</li>
