<div ng-controller="previewCtrl">
  <div class="nav-bar">
    @Html.Partial("_ProcessMenu", "marketing")
  </div>

  <div class="overview-p">
    <div class="container">
      <div class="marketing-content">
      </div>
    </div>
  </div>

</div>
