<div ng-controller="previewCtrl">
  <div class="nav-bar">
   @Html.Partial("_ProcessMenu", "preview")
  </div>

    <div class="overview-p">
        <div class="container">
            <div class="preview-content">
            </div>
        </div>
    </div>

</div>
