<div ng-controller="previewCtrl">
  <div class="nav-bar">
    @Html.Partial("_ProcessMenu", "publish")
  </div>

    <div class="overview-p">
        <div class="container">
            <div class="publish-content">
            </div>
        </div>
    </div>

</div>
