@{
    PageData["Title"] = Loc("title", "Cancel Invoice");
  Layout = Url.GetGlobalLayout("_LayoutAuthor", "AuthorPortal");
}
<div class="alert alert-warning">
  @Loc("text1", @"Invoice Payment is canceled. Please try again.")</div>
