.elfinder-toolbar {
background-color:#49bf67 !important;

}


.elfinder-statusbar
{
background-color:#49bf67 !important;
}
.elfinder-navbar-wrapper {
  color: #666666 !important;
  &:hover {
    color: red !important;
  }
}