$font-family-sans-serif:  "Merriweather Sans", "Trebuchet MS", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Merriweather", Georgia, "Times New Roman", Times, serif !default;
// fonts
$headingsFontFamily: "Merriweather Sans", Trebuchet MS, Arial, sans-serif !default;
$sansFontFamily: "Merriweather Sans", Helvetica, Arial, sans-serif !default;

@import "custom/light-theme";
