@import url(http://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans:300,100italic,100) all;

$TexxtoorClrDark: #006633; 
$TexxtoorClrMedium : #3CAA37;
$TexxtoorClrLight: #C8D200;
$TexxtoorBwDark: #666666; 
$TexxtoorBwMedium: #A1A1A1;
$TexxtoorBwLight: #DDDDDD;
$TexxtoorBlack: #000000;
$baseWidth: 960px;   // view port
$superWidth: 1200px; // max outbound
$baseFont: "Merriweather Sans","Trebuchet MS",sans-serif;
$inputFont: "Merriweather Sans","Trebuchet MS",sans-serif;
$headerFont: "Merriweather Sans","Trebuchet MS",sans-serif;
$monoFont: "Courier New", Courier, monospace;

@import "custom/style.scss";