@model Texxtoor.DataModels.Models.Reader.Orders.OrderProduct

@{
  PageData["Title"] = "Order Details";
  Layout = Url.GetGlobalLayout("_LayoutAdmin", "AdminPortal");
}

@using (Html.BeginForm()) {
  using (Html.BtFieldset("Order Item")) {
    @Html.DisplayForModel()
  }
}
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-default" })
  @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-primary" })
</p>