@{
  ViewBag.Title = "texxtoor Demo";
}
@section featured {
  <section class="featured">
    <div class="content-wrapper">
      <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
      </hgroup>
      <p>
         Demo...
      </p>
    </div>
  </section>
}
<p>
  Choose a menu entry
</p>
  