<div class="page-nocolumns">
  <h2>AUTORENVERTRAG <span id="muster-only">(MUSTER)</span>
  </h2>
  <p>
    zwischen
  </p>
  <p>
    der <strong>Augmented Content</strong> GmbH,
  </p>
  vertreten durch den Geschäftsführer Herrn Jörg Krause<br />
  Hafersteig 113<br />
  12683 Berlin<br />
  <p>
    &ndash; im folgenden <strong>Augmented Content</strong> genannt &ndash;
  </p>
  <p>
    und
  </p>
  <p>
    <span id="authorFullAddress">Max Mustermann, Musterstraße 10, 12345 Berlin</span>
  </p>
  <p>
    &ndash; im folgenden Autor genannt &ndash;
  </p>

  <h3>1. Gegenstand</h3>
  <p>
    Der Autor gestattet mit diesem Vertrag <strong>Augmented Content</strong> die Vervielfältigung und Verbreitung sowie die Einräumung von Nutzungsrechten an seinem
    eBook mit dem Titel  …………… (im Folgenden: „Werk“) nach Maßgabe der folgenden Bestimmungen.
  </p>
  <h3>2. Nutzungsrechten an <strong>Augmented Content</strong>
  </h3>
  <h4>2.1</h4>
  <p>
    Für die Laufzeit des Vertrags überträgt der Autor <strong>Augmented Content</strong> räumlich und inhaltlich unbeschränkt das nicht-exklusive/exklusive Recht zur
    Vervielfältigung, Verbreitung und Vermarktung des Werks für alle elektronischen Ausgaben über alle Vertriebswege von <strong>Augmented Content</strong> sowie für
    alle Druck- und/oder körperliche Ausgaben ohne Stückzahlbegrenzungen über alle Vertriebswege von <strong>Augmented Content</strong>.
  </p>

  <h4>2.2. E-Books</h4>
  <p>
    Insbesondere werden die folgenden Rechte eingeräumt:
  </p>
  <ul>
    <li>das Recht zur Be- und Verarbeitung zu einer elektronischen Druckvorlage sowie zur Konvertierung des Werks für eine elektronische Ausführung sowie das Recht zur
      Bearbeitung, soweit diese für die Anpassung an zukünftige Lese- und Druckformate und schon vorhandene oder zukünftige Lesesysteme erforderlich ist, unter Einschluss
      des Datenbank- und Archivierungsrechts;</li>
    <li>der Autor räumt dem Verlag das nicht-exklusive Recht zur elektronischen Vervielfältigung und Verbreitung des Werks ein, insbesondere zur Nutzung der für den Vertrieb
      des Werks auf CD-ROMs oder im eBook-Verfahren erforderlichen Rechte.</li>
    <li>dem Verlag wird ferner das Recht eingeräumt, das Werk als PDF-Datei im Internet zur Verfügung zu stellen;</li>
    <li>das Recht, Ausschnitte des Werks oder das ganze Werk durch Sendung oder sonstige Wiedergabe, auch im Internet, zum Zwecke der Bewerbung für <strong>Augmented
      Content</strong>  oder Dritte (insbesondere Vertriebspartner), und/oder deren Produkte, entgeltlich oder unentgeltlich unter Verwendung des Namens des Autors zu
      nutzen. Dieses Werbungsrecht besteht auch nach Beendigung dieses Vertrags mit der Maßgabe, dass dann nur mit dem Titel des Werks nebst Erscheinungsjahr, der möglicherweise
      erstellten Buchausgabe sowie dem Namen des Autors geworben werden darf.
    </li>
  </ul>
  <h4>2.2</h4>
  <p>
    <strong>Augmented Content</strong>  kann die ihm nach diesem Vertrag eingeräumten Rechte ganz oder teilweise auf Dritte übertragen, ohne dass es hierzu der Zustimmung
    des Autors bedarf (z.B. Kooperationspartner von <strong>Augmented Content</strong>, Weiterverbreitung durch Printdienste).
  </p>
  <h4>2.3</h4>
  <p>
    Das Recht <strong>Augmented Content</strong>s zur Vergabe von Nutzungsrechten an Dritte endet mit Beendigung dieses Vertrags. Unberührt bleibt davon das Recht von
    <strong>Augmented Content</strong>, bestehende Lizenzverträge zu erfüllen.
  </p>
  <h4>2.4</h4>
  <p>
    Dem Autor steht es frei, sein Werk über die von <strong>Augmented Content</strong>  nicht genutzten Vertriebswege zu verbreiten und zu vermarkten. Die gesetzlichen
    Regelungen zur Buchpreisbindung (siehe auch Ziffer 7) bleiben unberührt.
  </p>


  <h3>3. Pflichten des Autors</h3>
  <h4>3.1</h4>
  <p>Der Autor versichert, dass er allein berechtigt ist, über urheberrechtliche Nutzungsrechte an dem Werk zu verfügen und dass er bisher keine diesem Vertrag entgegenstehende
    Verfügung getroffen hat. Das gilt auch für die vom Autor gelieferten Text- und Bildvorlagen.</p>
  <h4>3.2</h4>
  <p>
    Der Autor versichert ferner, dass durch sein Werk einschließlich der von ihm gelieferten Bild- und Textvorlagen und die Ausübung der in diesem Vertrag <strong>Augmented
      Content</strong>  eingeräumten Rechte, Rechte Dritter, insbesondere Persönlichkeits-, Leistungsschutz- und/oder Urheberrechte Dritter nicht verletzt werden.
  </p>
  <h4>3.3</h4>
  <p>
    Der Autor versichert weiterhin, dass das Werk keine rechtswidrigen, obszönen, rassistischen, diffamierenden oder pornographischen Inhalte enthält. Der Autor sichert
    insbesondere zu, dass die von ihm <strong>Augmented Content</strong>  überlassenen Bilder oder Texte nicht gegen die Vorschriften des Strafgesetzbuches verstoßen.
  </p>
  <h4>3.4</h4>
  <p>
    Die Daten oder Programme, die der Autor <strong>Augmented Content</strong>  überlässt, sind frei von Viren oder anderen Computerprogrammen, die in irgendeiner Weise
    Empfangsgeräte der Nutzer oder <strong>Augmented Content</strong>s Software beeinträchtigen könnten;
  </p>
  <h4>3.5</h4>
  <p>
    Die Daten, welche der Autor <strong>Augmented Content</strong>  überlässt, dienen nicht dem Zweck, Informationen oder personenbezogene Daten Dritter zu sammeln,
    zu nutzen oder zu verbreiten.
  </p>
  <h4>3.6</h4>
  <p>
    <strong>Augmented Content</strong>  ist berechtigt, personenbezogene Daten (wie Name, Adresse etc.), die der Autor dem Werk beifügt, beim Vertrieb des Werks anzuhängen,
    d.h. diese Daten werden Teil des Werks. Der Autor verpflichtet sich, keine schützenswerten Daten Dritter rechtswidrig preiszugeben.
  </p>
  <h4>3.7</h4>
  <p>
    Der Autor ermächtigt <strong>Augmented Content</strong>, aus dem Werk auch über das gesetzliche Zitatrecht hinaus zu zitieren und das Werk – ausgenommen personenbezogene
    Daten – zu Marketing-, Vertriebs-, und Werbezwecken oder aus technischen Gründen unter Wahrung des Urheberpersönlichkeitsrecht des Autors minimal zu verändern,
    soweit der Autor Daten nicht als unveränderlich gekennzeichnet hat.
  </p>

  <h3>4. Haftungsfreistellung durch den Autor</h3>
  <h4>4.1</h4>
  <p>
    Der Autor stellt <strong>Augmented Content</strong>  von sämtlichen Ansprüchen Dritter frei, die darauf gestützt werden, dass einer der Umstände, die Gegenstand
    der in den Ziffern 3.1 bis 3.3 dieses Vertrages gegebenen Versicherung sind, nicht vorliegt oder dass der Autor eine der in den Ziffern 3.4 bis 3.6 dieses Vertrages
    bezeichneten Pflichten nicht oder schlecht erfüllt. Die Haftungsfreistellung umschließt die Kosten der Rechtsverteidigung und/oder Rechtsverfolgung.
  </p>
  <h4>4.2</h4>
  <p>
    Liegt ein Fall der Ziffer 4.1 vor, so ist der Autor auch zum Ersatz eines bei <strong>Augmented Content</strong>  eingetretenen Schadens verpflichtet.
  </p>

  <h3>5. Rechte und Pflichten von <strong>Augmented Content</strong>
  </h3>
  <h4>5.1</h4>
  <p>
    Die Verbreitung durch <strong>Augmented Content</strong>  erfolgt nur auf jeweilige Bestellung der Nutzer. <strong>Augmented Content</strong>  ist zu einer darüber
    hinausgehenden Auswertung der mit diesem Vertrag eingeräumten Rechte nicht verpflichtet, insbesondere nicht zu einer über eine jeweilige Einzelbestellung hinausgehende
    Vervielfältigung und Verbreitung und/oder Bewerbung des Werks.
  </p>
  <h4>5.2</h4>
  <p>
    Zum Zwecke der Vervielfältigung und Verbreitung des Werks auf Bestellung speichert <strong>Augmented Content</strong>  während der Dauer dieses Vertrags das Werk
    als Datei auf dem <strong>Augmented Content</strong> -eigenen Server. <strong>Augmented Content</strong>  wird die Datei nach Vertragsbeendigung löschen. Der Autor
    hat keinen Anspruch auf Herausgabe der Datei oder einer Kopie.
  </p>
  <h4>5.3</h4>
  <p>
    <strong>Augmented Content</strong>  behält sich das jederzeitige Recht vor, das Werk auf die Rechtmäßigkeit des Inhalts zu überprüfen und ggf. ohne Angabe von Gründen
    von der Website zu entfernen. <strong>Augmented Content</strong>  wird den Autor hierüber informieren.
  </p>
  <h4>5.4</h4>
  <p>
    <strong>Augmented Content</strong> haftet nicht für die Richtigkeit, Vollständigkeit und Genauigkeit der auf seiner Website veröffentlichten Werke.
  </p>
  <h4>5.5</h4>
  <p>
    <strong>Augmented Content</strong>  ist nicht verpflichtet, Inhalte, die der Autor über <strong>Augmented Content</strong>s Dienste speichern, veröffentlichen oder
    übermitteln lässt, zu prüfen. Die Verantwortung für die Richtigkeit, Qualität oder Angemessenheit der vom Autor übermittelten Inhalte liegt allein beim Autor.
  </p>
  <h4>5.6</h4>
  <p>
    <strong>Augmented Content</strong>  weist den Autor in der vom Autor angegebenen Weise als Urheber des Werks aus.
  </p>

  <h3>6. Datensicherung und Verfügbarkeit</h3>
  <h4>6.1</h4>
  <p>
    <strong>Augmented Content</strong> gewährleistet nach dem Stand der Technik einen hohen Datensicherheitsstandard. Gleichwohl garantiert <strong>Augmented Content</strong>
    nicht die Integrität der Daten des Autors. Der Autor ist daher allein verantwortlich für das Back-up und die Archivierung aller Inhalte, die er auf die Website
    von <strong>Augmented Content</strong>  stellt.
  </p>
  <h4>6.2</h4>
  <p>
    Da technische Geräte wie Computer, das Internet etc. Schwankungen unterliegen, auf die <strong>Augmented Content</strong>  unter Umständen keinen Einfluss nehmen
    kann, übernimmt <strong>Augmented Content</strong>  keine Gewähr dafür, dass Daten ununterbrochen verfügbar sind.
  </p>


  <h3>7. Buchpreisbindung / Festsetzung Letztabnehmerpreis</h3>
  <p>
    Der Letztabnehmerpreis des E-Books wird verbindlich auf <span id="ebook-price">0.00</span> EUR festgesetzt. <strong>Augmented Content</strong>  und der Autor sind
    mit dieser Preisfestsetzung an die Vorgaben der Vertriebspartner von <strong>Augmented Content</strong>  (Amazon, Apple, Barnes & Noble und Google) gebunden, die
    in Abhängigkeit vom entsprechenden Druckerzeugnis Preise für bei ihnen vertriebene eBooks festsetzen. Der Autor nimmt zustimmend zur Kenntnis, dass <strong>Augmented
      Content</strong>  gesetzlich verpflichtet ist, den so festgesetzten Letztabnehmerpreis in geeigneter Form zu veröffentlichen und grundsätzlich in allen Vertriebskanälen
    einzuhalten. Der Autor nimmt außerdem zustimmend zur Kenntnis, dass <strong>Augmented Content</strong>  im Falle einer MwSt.-Änderung durch den Gesetzgeber dazu
    berechtigt ist, den Letztabnehmerpreis entsprechend der MwSt.-Änderung anzupassen. Ebenso ist <strong>Augmented Content</strong>  berechtigt, den Letztabnehmerpreis
    entsprechend den oben beschriebenen Vorgaben ihres Vertriebspartners anzupassen.
  </p>
  <p>
    Der Letztabnehmerpreis des E-Books wird verbindlich auf <span id="print-price">0.00</span> EUR festgesetzt. <strong>Augmented Content</strong>  und der Autor sind
    mit dieser Preisfestsetzung an die Vorgaben der Vertriebspartner von <strong>Augmented Content</strong>  (Amazon, Apple, Barnes & Noble und Google) gebunden, die
    in Abhängigkeit vom entsprechenden Druckerzeugnis Preise für bei ihnen vertriebene eBooks festsetzen. Der Autor nimmt zustimmend zur Kenntnis, dass <strong>Augmented
      Content</strong>  gesetzlich verpflichtet ist, den so festgesetzten Letztabnehmerpreis in geeigneter Form zu veröffentlichen und grundsätzlich in allen Vertriebskanälen
    einzuhalten. Der Autor nimmt außerdem zustimmend zur Kenntnis, dass <strong>Augmented Content</strong>  im Falle einer MwSt.-Änderung durch den Gesetzgeber dazu
    berechtigt ist, den Letztabnehmerpreis entsprechend der MwSt.-Änderung anzupassen. Ebenso ist <strong>Augmented Content</strong>  berechtigt, den Letztabnehmerpreis
    entsprechend den oben beschriebenen Vorgaben ihres Vertriebspartners anzupassen.
  </p>
  <h3>8. Autorenhonorar und Abrechnung</h3>
  <p>
    Als Vergütung für alle nach diesem Vertrag vom Autor zu erbringenden Leistungen sowie zur
            Abgeltung aller gemäß Ziffer 2 dieses Vertrags eingeräumten Rechte erhält der Autor das gemäß der vorab erfolgten Preisfestsetzung gewählte Autorenhonorar
    (netto):
  </p>
  <h4>8.1</h4>
  <p>
    <ul>
      <li>Honorar für Vertriebskanal <strong>Augmented Content</strong>  E-Bookshop (www.texxtoor.de): <span id="author-price">0.00</span> EUR pro Ex.</li>
      <li>Honorar für Vertriebskanal Amazon: <span id="Span1">0.00</span> EUR pro Ex.</li>
      <li>Honorar für Vertriebskanal Amazon: <span id="Span2">0.00</span> EUR pro Ex.</li>
    </ul>
  </p>
  <h4>8.2</h4>
  <p>Das Autorenhonorar wird kalendermonatlich abgerechnet und ausgezahlt, soweit es 25 EUR übersteigt. Sollte das Autorenhonorar in einem Monat 25 EUR unterschreiten,
    so bleibt es unverzinst zugunsten des Autors auf dessen Autorenkonto und fließt in die nächste Abrechnung ein, die 25 EUR übersteigt. Sollte das Autorenhonorar
    am Ende eines Jahres noch nicht den Betrag von 25 EUR erreicht haben, erfolgt die Abrechnung zum Ende des darauffolgenden Jahres.</p>

  <h3>9. Vertragsbeendigung</h3>
  <h4>9.1</h4>
  <p>Jede Partei kann diesen Vertrag mit einer Frist von 5 (in Worten: fünf) Tagen kündigen. Die Kündigung erfolgt durch E-Mail.</p>
  <h4>9.2</h4>
  <p>
    Das Recht zur fristlosen, außerordentlichen Kündigung aus wichtigem Grund bleibt hiervon unberührt. <strong>Augmented Content</strong>  hat insbesondere das Recht
    zu einer außerordentlichen Kündigung aus wichtigem Grund, wenn das Werk des Autors gegen die Allgemeinen Geschäftsbedingungen (AGB) von <strong>Augmented Content</strong>
    verstößt.
  </p>
  <h4>9.3</h4>
  <p>
    Beendet der Autor das Vertragsverhältnis durch Kündigung, so ist <strong>Augmented Content</strong>  befugt, bei Wirksamwerden der Vertragsbeendigung bestellte,
    aber nicht ausgelieferte Exemplare verlagseigener Ausgaben des Werks noch bis zum Ablauf von einem (1) Monat nach diesem Zeitpunkt unter vertragsgemäßer Vergütung
    zu verbreiten.
  </p>

  <h3>10. Schlussbestimmungen</h3>
  <h4>10.1</h4>
  <p>Sollten einzelne Bestimmungen dieses Vertrags unwirksam sein oder werden, bleibt die Gültigkeit der übrigen Bestimmungen unberührt. An Stelle der unwirksamen Bestimmung
    werden die Parteien eine wirksame Regelung treffen, die der unwirksamen Bestimmung in tatsächlicher, wirtschaftlicher und rechtlichter Hinsicht möglichst nahe kommt.
    Ebenso ist zu verfahren, wenn der Vertrag eine Lücke aufweisen sollte.</p>
  <h4>10.2</h4>
  <p>
    Als Erfüllungsort und &ndash; soweit gesetzlich zulässig &ndash; Gerichtsstand für alle Streitigkeiten aus diesem Vertrag vereinbaren die Parteien den Sitz von
    <strong>Augmented Content</strong>  (zurzeit Berlin).
  </p>
  <h4>10.3</h4>
  <p>Der Vertrag unterliegt dem Recht der Bundesrepublik Deutschland.</p>
</div>
