.Editor_businesspeople2_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px 0px;
}
.Editor_chart_area_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -25px;
}
.Editor_chart_bar_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -74px;
}
.Editor_chart_bubble_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -123px;
}
.Editor_chart_column_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -172px;
}
.Editor_chart_donut_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -221px;
}
.Editor_chart_dot_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -270px;
}
.Editor_chart_gantt_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -319px;
}
.Editor_chart_line_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -368px;
}
.Editor_chart_pie_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -417px;
}
.Editor_chart_radar_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -466px;
}
.Editor_code_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -515px;
}
.Editor_code_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -532px;
}
.Editor_color_wheel_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -557px;
}
.Editor_copy_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -574px;
}
.Editor_crop_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -599px;
}
.Editor_cut_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -616px;
}
.Editor_delete2_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -641px;
}
.Editor_delete_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -658px;
}
.Editor_document_add_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -683px;
}
.Editor_document_chart_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -708px;
}
.Editor_fit_to_size_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -733px;
}
.Editor_icon_png
{
width:28px;
height:31px;
background-image:url(sprite0.png);
background-position:0px -750px;
}
.Editor_icon_about_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -782px;
}
.Editor_icon_datetime_png
{
width:32px;
height:31px;
background-image:url(sprite0.png);
background-position:0px -811px;
}
.Editor_icon_doc_png
{
width:22px;
height:29px;
background-image:url(sprite0.png);
background-position:0px -843px;
}
.Editor_icon_exit_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -873px;
}
.Editor_icon_ooxml_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -902px;
}
.Editor_icon_open_png
{
width:28px;
height:31px;
background-image:url(sprite0.png);
background-position:0px -931px;
}
.Editor_icon_otherformats_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -963px;
}
.Editor_icon_pagesetup_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -992px;
}
.Editor_icon_paint_png
{
width:32px;
height:32px;
background-image:url(sprite0.png);
background-position:0px -1021px;
}
.Editor_icon_paste_png
{
width:28px;
height:31px;
background-image:url(sprite0.png);
background-position:0px -1054px;
}
.Editor_icon_picture_png
{
width:32px;
height:31px;
background-image:url(sprite0.png);
background-position:0px -1086px;
}
.Editor_icon_plaintext_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -1118px;
}
.Editor_icon_print_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -1147px;
}
.Editor_icon_printpreview_png
{
width:32px;
height:30px;
background-image:url(sprite0.png);
background-position:0px -1176px;
}
.Editor_icon_quickprint_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -1207px;
}
.Editor_icon_richtext_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -1236px;
}
.Editor_icon_save_png
{
width:28px;
height:31px;
background-image:url(sprite0.png);
background-position:0px -1265px;
}
.Editor_icon_saveas_png
{
width:28px;
height:31px;
background-image:url(sprite0.png);
background-position:0px -1297px;
}
.Editor_icon_sendemail_png
{
width:32px;
height:28px;
background-image:url(sprite0.png);
background-position:0px -1329px;
}
.Editor_icon_small_copy_png
{
width:15px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1358px;
}
.Editor_icon_small_cut_png
{
width:9px;
height:15px;
background-image:url(sprite0.png);
background-position:0px -1375px;
}
.Editor_icon_small_find_png
{
width:15px;
height:13px;
background-image:url(sprite0.png);
background-position:0px -1391px;
}
.Editor_icon_small_measurement_png
{
width:15px;
height:15px;
background-image:url(sprite0.png);
background-position:0px -1405px;
}
.Editor_icon_small_replace_png
{
width:16px;
height:15px;
background-image:url(sprite0.png);
background-position:0px -1421px;
}
.Editor_icon_small_selectall_png
{
width:16px;
height:15px;
background-image:url(sprite0.png);
background-position:0px -1437px;
}
.Editor_icon_small_theme_png
{
width:15px;
height:15px;
background-image:url(sprite0.png);
background-position:0px -1453px;
}
.Editor_icon_small_wordwrap_png
{
width:16px;
height:14px;
background-image:url(sprite0.png);
background-position:0px -1469px;
}
.Editor_icon_zoom100_png
{
width:26px;
height:32px;
background-image:url(sprite0.png);
background-position:0px -1484px;
}
.Editor_icon_zoomin_png
{
width:29px;
height:32px;
background-image:url(sprite0.png);
background-position:0px -1517px;
}
.Editor_icon_zoomout_png
{
width:29px;
height:32px;
background-image:url(sprite0.png);
background-position:0px -1550px;
}
.Editor_level_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1583px;
}
.Editor_link_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -1600px;
}
.Editor_link_add_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1625px;
}
.Editor_magic_wand_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -1642px;
}
.Editor_message_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1667px;
}
.Editor_navigate_down_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1684px;
}
.Editor_navigate_left_48_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -1701px;
}
.Editor_navigate_right_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1750px;
}
.Editor_navigate_right_48_png
{
width:48px;
height:48px;
background-image:url(sprite0.png);
background-position:0px -1767px;
}
.Editor_navigate_up_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1816px;
}
.Editor_nav_refresh_yellow_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -1833px;
}
.Editor_newspaper_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1858px;
}
.Editor_newspaper_add_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -1875px;
}
.Editor_ol_list_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -1900px;
}
.Editor_palette2_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -1925px;
}
.Editor_paste_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -1950px;
}
.Editor_photo_landscape_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -1975px;
}
.Editor_photo_landscape_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -1992px;
}
.Editor_ratio1_png
{
width:7px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2017px;
}
.Editor_ratio2_png
{
width:7px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2042px;
}
.Editor_save_as_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2067px;
}
.Editor_scroll2_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2092px;
}
.Editor_sort_up_minus_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2117px;
}
.Editor_sort_up_plus_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2134px;
}
.Editor_stage_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2151px;
}
.Editor_symbol_questionmark_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2168px;
}
.Editor_table2_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2193px;
}
.Editor_table2_add_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2210px;
}
.Editor_table2_selection_cell_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2235px;
}
.Editor_tables_edit_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2252px;
}
.Editor_table_column_add_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2269px;
}
.Editor_table_column_delete_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2286px;
}
.Editor_table_grid_png
{
width:48px;
height:32px;
background-image:url(sprite0.png);
background-position:0px -2303px;
}
.Editor_table_leadcol_png
{
width:48px;
height:32px;
background-image:url(sprite0.png);
background-position:0px -2336px;
}
.Editor_table_row_add_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2369px;
}
.Editor_table_row_delete_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2386px;
}
.Editor_table_simple_png
{
width:48px;
height:32px;
background-image:url(sprite0.png);
background-position:0px -2403px;
}
.Editor_text_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2436px;
}
.Editor_text_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2453px;
}
.Editor_text_bold_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2478px;
}
.Editor_text_formula_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2503px;
}
.Editor_text_italics_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2520px;
}
.Editor_text_outdent_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2545px;
}
.Editor_text_plain_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2562px;
}
.Editor_text_subscript_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2587px;
}
.Editor_text_superscript_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2612px;
}
.Editor_text_underlined_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2637px;
}
.Editor_toc_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2662px;
}
.Editor_ul_list_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2679px;
}
.Editor_undo_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2704px;
}
.Editor_videocamera_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2729px;
}
.Editor_window_next_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2754px;
}
.Editor_window_sidebar_16_png
{
width:16px;
height:16px;
background-image:url(sprite0.png);
background-position:0px -2771px;
}
.Editor_window_sidebar_24_png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px -2788px;
}
