/* Sample style sheet for boom!, the book microformat              */
/* written  by Hakon Wium Lie and Bert Bos, November 2005          */
/* You may reuse this style sheet for any purpose without any fees */
/* Modified for texxtoor

       This is the base style for standard text books

       Date: 27-04-2014
       Lang: DE
       AUTH: Joerg <isageek> Krause

      */
html {
  margin: 0;
  font: 10pt/1.26 "Georgia";
}

body {
  margin: 0 0 0 0; /* 28% */
}
/* default colors */
@prince-color darkblue {
}

@prince-color black {
  color: cmyk(0, 0, 0, 1);
}


@font-face {
  font-family: 'Georgia';
  src: url('Fonts/Georgia.ttf');
  font-weight: normal;
  font-style: normal;
}

/* cover */
@page cover {
  size: 306mm 254mm;
  margin: 0 !important;
}


/* Explicit printing support for full printed cover (2 pages and back spine) */
div.cover {
  position: absolute;
  width: 306mm;
  height: 216mm;
  padding: 0mm;
  border: 0px;
  margin: 3mm;
  background-color: silver;
  page: cover;
}

  div.cover div.u1 {
    position: absolute;
    top: 0mm;
    left: 155mm;
    width: 151mm;
    height: 216mm;
    background-color: white;
  }

    div.cover div.u1 img {
      width: 151mm;
      height: 216mm;
      top: 0mm;
      border: 0;
    }

    div.cover div.u1 div.cover-title {
      position: absolute;
      left: 20mm;
      bottom: 144mm;
      width: 115mm;
      color: prince-color(#000000, overprint);
      font-size: 44pt;
      font-weight: bold;
    }

    div.cover div.u1 div.cover-subtitle {
      position: absolute;
      left: 20mm;
      top: 75mm;
      width: 115mm;
      color: prince-color(#000000, overprint);
      font-size: 24pt;
      font-weight: normal;
    }

    div.cover div.u1 div.cover-author {
      position: absolute;
      left: 20mm;
      top: 100mm;
      color: prince-color(#000000, overprint);
      font-size: 16pt;
      font-weight: normal;
    }

  div.cover div.spine {
    position: absolute;
    top: 0mm;
    left: 151mm;
    width: 4mm;
    height: 216mm;
    background-color: #113876;
  }

  div.cover div.u4 {
    top: 0mm;
    left: 0mm;
    width: 151mm;
    height: 216mm;
    background-color: #96d4e6;
  }

    div.cover div.u4 div.back-author {
      padding: 8mm;
      font-size: 12pt;
    }

    div.cover div.u4 div.back-title {
      padding: 0mm 8mm;
      font-size: 36pt;
      font-weight: bold;
    }

    div.cover div.u4 div.back-subtitle {
      padding: 0mm 8mm;
      font-size: 18pt;
      font-weight: bold;
    }

    div.cover div.u4 div.back-about-name {
      padding: 2mm 8mm;
      font-size: 12pt;
      font-weight: bold;
      bottom: 95mm;
      position: absolute;
      left: -1px;
    }

    div.cover div.u4 div.back-about-author {
      padding: 2mm;
      margin-left: 8mm;
      bottom: 35mm;
      width: 130mm;
      height: 65mm;
      overflow-y: hidden;
      position: absolute;
    }

      div.cover div.u4 div.back-about-author img.back-about-author-image {
        width: 80px;
        height: 130px;
        margin-top: 6mm;
        margin-left: -2mm;
        position: absolute;
        background-repeat: no-repeat;
      }

      div.cover div.u4 div.back-about-author div.back-about-author-text {
        margin-left: 25mm;
        margin-top: 5mm;
        font-size: 10pt;
        width: 100mm;
        height: 40mm;
        position: absolute;
        overflow-y: hidden;
      }

    div.cover div.u4 div.back-update {
      position: absolute;
      bottom: 40mm;
      padding-left: 8mm;
      margin-top: 10mm;
    }

p.back-update-text {
  font-size: 12pt;
  font-family: "Georgia";
  font-weight: bold;
}

p.back-update-link {
  font-size: 12pt;
  margin-left: -6mm;
  font-family: "Georgia";
  font-weight: bold;
  color: white;
}

div.cover div.u4 p.abstract {
  padding: 8mm;
  font-size: 12pt;
  color: prince-color(black, overprint);
}

div.cover div.u4 div.back-data {
  position: absolute;
  width: 170mm;
  height: 33mm;
  padding: 2mm 8mm;
  bottom: 0;
  background-color: #113876;
}

  div.cover div.u4 div.back-data img.back-texxtoor {
    margin-top: 6mm;
    width: 35mm;
    height: 10mm;
    left: 8mm;
    background-repeat: no-repeat;
  }

  div.cover div.u4 div.back-data div.back-fixprice {
    margin-top: 3mm;
    font-size: 12pt;
    color: #fff;
    font-weight: bold;
  }

  div.cover div.u4 div.back-data img.back-qr {
    position: absolute;
    left: 64mm;
    top: 8mm;
    width: 21.5mm;
    height: 21.5mm;
    background-size: 21.5mm 21.5mm;
    background-repeat: no-repeat;
  }

  div.cover div.u4 div.back-data div.back-isbn-keywords {
    position: absolute;
    color: #ffffff;
    left: 90mm;
    top: 3mm;
  }

  div.cover div.u4 div.back-data img.back-isbn {
    position: absolute;
    left: 90mm;
    top: 8mm;
    width: 52mm;
    height: 21.5mm;
    background-size: 42mm 21.5mm;
    background-repeat: no-repeat;
  }

div.cover div.marker div.v {
  position: absolute;
  z-index: 10;
  width: 2px;
  height: 6px;
  background-color: black;
}

div.cover div.marker div.h {
  position: absolute;
  z-index: 10;
  width: 6px;
  background-color: black;
  height: 2px;
}

div.cover div.marker #ltx {
  top: 3mm;
  left: -2mm;
}

div.cover div.marker #lty {
  top: -2mm;
  left: 3mm;
}

div.cover div.marker #lbx {
  top: 213mm;
  left: -2mm;
}

div.cover div.marker #lby {
  top: 216mm;
  left: 3mm;
}

div.cover div.marker #rtx {
  top: 3mm;
  left: 303mm;
}

div.cover div.marker #rty {
  top: -2mm;
  left: 300mm;
}

div.cover div.marker #rbx {
  top: 213mm;
  left: 303mm;
}

div.cover div.marker #rby {
  top: 216mm;
  left: 300mm;
}

div.cover div.marker #stl {
  top: -3mm;
  left: 151mm;
}

div.cover div.marker #str {
  top: -3mm;
  left: 155mm;
}

div.cover div.marker #sbl {
  top: 216mm;
  left: 151mm;
}

div.cover div.marker #sbr {
  top: 216mm;
  left: 155mm;
}

/* end cover */

h1, h2, h3, h4, h5, h6 {
  font-family: "Tw Cen MT Condensed";
  margin: 1em 0 0.5em 0;
  page-break-after: avoid;
}

h1 {
  padding: 1.8em 0 1em 0;
  margin: 0;
  font-size: 3.2em;
  font-weight: 900;
}

h2 {
  font-size: 1.4em;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

q::before {
  content: "\201C";
}

q::after {
  content: "\201D";
}

p {
  margin: 2mm 0 2mm 0;
  font: 9pt "Georgia";
  text-align: justify;
  line-height: 1.4em;
  widows: 2;
}

  p + p {
    text-indent: 1.3em;
  }

  p.sidenote + p, p.art {
    text-indent: 0;
  }

  p.author {
    margin-top: 2em;
    text-indent: 0;
    text-align: right;
  }

  p.Query {
    font-style: italic;
  }

ul {
  margin-left: 4mm;
  margin-top: 3mm;
}

ol {
  margin-left: 5.5mm;
  margin-top: 3mm;
}

  ul, ol li {
    font: 9pt "Georgia";
    line-height: 1.4em;
    text-align: left;
    widows: 2;
  }

li:last-child {
  page-break-before: avoid;
}

li:first-child {
  page-break-after: avoid;
}

ul, ol ul, ol {
  margin-top: 1mm;
  margin-bottom: 1mm;
}


  ul ul li {
    margin-left: 6mm;
  }

  ol ol li {
    margin-left: 5mm;
  }

pre {
  margin: 1em 0em;
  font: 70% "Lucida Console", "Lucida Sans Typewriter", monospace;
  font-size: 0.7em;
  max-width: 125mm;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: prince-color(black, overprint);
}

  /* cross-references */

  a.section::after {
    content: " Seite " target-counter(attr(href), page);
  }

  a.section::before {
    content: " Kapitel " target-counter(attr(href), chapter) ", ";
  }

  a.image {
    content: " Abbildung " counter(chapter) "." target-counter(attr(href), figure);
  }

  a.table {
    content: " Tabelle " counter(chapter) "." target-counter(attr(href), table);
  }

  a.listing {
    content: " Listing " counter(chapter) "." target-counter(attr(href), listing);
  }

/* sidenotes */

.sidenote {
  float: left;
  clear: left;
  margin: 0 0 1em -41%;
  width: 37%;
  font-size: 0.9em;
  font-style: normal;
  text-indent: 0;
  text-align: right;
  page-break-inside: avoid;
}

/* sidebars */

header.builder {
  margin: 1.2em 0 0 0;
  background: #AAA;
  padding: 0.5em 1em;
  page-break-inside: avoid;
  page-break-after: avoid;
  font-weight: bold;
  font-family: "Tw Cen MT Condensed";
}

  header.builder[data-type=Tip] {
    content: "Tipp";
  }

  header.builder[data-type=Warning] {
    content: "Warnung";
  }

  header.builder[data-type=Note] {
    content: "Hinweis";
  }

  header.builder[data-type=Information] {
    content: "Information";
  }

  header.builder[data-type=Advice] {
    content: "Empfehlung";
  }

  header.builder[data-type=Box] {
  }

aside.builder {
  font: 8pt "Georgia";
  margin: 0 0 1.2em 0;
  background: #CCC;
  padding: 0.5em 1em;
  page-break-inside: avoid;
  text-align: justify;
  /*column-count: 2;
      column-gap: 1.5em;*/
}

  aside.builder p {
    padding: 0;
  }

  aside.builder h2 {
    margin-top: 0;
  }

/* figures, listings and tables*/

div.listing {
  counter-increment: listing;
}

  div.listing p.caption::before {
    content: "Listing " counter(chapter) "." counter(listing) ": ";
    font-weight: bold;
    font-family: "Georgia";
    font-style: italic;
  }

  div.listing p.caption {
    width: 100%;
    font: 8pt "Georgia";
    font-style: italic;
    text-align: left;
    font-size: 1em;
    margin: 1.5em 0 0em 0;
  }

figure {
  position: relative;
  margin: 1em 0;
  counter-increment: figure;
  max-width: 125mm;
  page-break-inside: avoid;
}

  figure figcaption {
    position: absolute;
    font: 8pt "Georgia";
    text-align: left;
    font-size: 0.8em;
    bottom: 0;
    margin: 0 0 0 0;
    font-style: italic;
  }

    figure figcaption::before {
      content: "Abbildung " counter(chapter) "." counter(figure) ": ";
      font-weight: bold;
      font-style: italic;
    }

  figure img.builder {
    padding-bottom: 1.5em;
      top: 0px;
      right: 0px;
      left: 0px;
      max-width: 100%;
    }

table {
  margin: 1em 0;
  width: 100%;
  counter-increment: table;
}

  table th {
    text-align: left;
    background-color: #CCC;
    font-size: 8pt;
  }

  table th, table td {
    text-align: left;
    padding-right: 1em;
  }

  table td {
    background-color: #EEE;
    font: 8pt "Georgia";
    vertical-align: top;
  }

  table.lined td, table.lined th {
    border-top: none;
    border-bottom: thin dotted;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  table caption {
    width: 100%;
    font: 8pt "Georgia";
    text-align: left;
    font-size: 0.7em;
    margin: 0 0 1.2em 0;
  }

    table caption::before {
      content: "Tabelle " counter(chapter) "." counter(table) ": ";
      font-weight: bold;
    }


.pspacing {
  display: none;
}

@page {
  margin: 25mm 14mm 25mm 14mm;
  size: 148mm 210mm;

  @footnotes {
    border-top: thin solid black;
    padding-top: 0.3em;
    margin-top: 0.6em;
    margin-left: 30%;
  }
}


/* define default page and names pages: cover, blank, frontmatter */

@page :left {
  @top-left {
    font: 8pt "Georgia";
    content: "Webentwicklung";
    vertical-align: bottom;
    padding-bottom: 2em;
    color: gray;
  }

  @bottom-left {
    font: 8pt "Georgia";
    content: counter(page);
    padding-top: 2em;
    vertical-align: top;
    color: Gray;
  }
}

@page :right {
  @top-right {
    font: 8pt "Georgia";
    content: string(header, first);
    vertical-align: bottom;
    padding-bottom: 2em;
    color: Gray;
  }

  @bottom-right {
    font: 8pt "Georgia";
    content: counter(page);
    text-align: right;
    vertical-align: top;
    padding-top: 2em;
    color: Gray;
  }
}

@page frontmatter :left {
  @top-left {
    font: 8pt "Georgia";
    content: string(title);
    vertical-align: bottom;
    padding-bottom: 2em;
    color: Gray;
  }

  @bottom-left {
    font: 8pt "Georgia";
    content: counter(page, lower-roman);
    padding-top: 2em;
    vertical-align: top;
    color: Gray;
  }
}

@page frontmatter :right {
  @top-right {
    font: 8pt "Georgia";
    content: string(header, first);
    vertical-align: bottom;
    padding-bottom: 2em;
    color: Gray;
  }

  @bottom-right {
    font: 8pt "Georgia";
    content: counter(page, lower-roman);
    text-align: right;
    vertical-align: top;
    padding-top: 2em;
    color: Gray;
  }
}


@page frontcover {
  margin: 0;
}

@page blank :left {
  @top-left {
    content: normal;
  }

  @bottom-left {
    content: normal;
  }
}

@page blank :right {
  @top-right {
    content: normal;
  }

  @bottom-right {
    content: normal;
  }
}

/* footnotes */

.footnote {
  display: none; /* default rule */
  display: prince-footnote; /* prince-specific rules */
  position: footnote;
  footnote-style-position: inside;
  counter-increment: footnote;
  margin-left: 1.4em;
  font-size: 90%;
  line-height: 1.4;
}

  .footnote::footnote-call {
    vertical-align: super;
    font-size: 80%;
  }

  .footnote::footnote-marker {
    vertical-align: super;
    color: green;
    padding-right: 0.4em;
  }


/*
       A book consists of different types of sections. We propose to use
       DIV elements with these class names:

        frontcover / cover (this is for separate printing with spine, does not need backcover)
        halftitlepage: contains the title of the book
        titlepage: contains the title of the book, name of author(s) and publisher
        imprint: left page with copyright, publisher, library printing information
        dedication: right page with short dedication
        foreword: written by someone other than the author(s)
        toc: table of contents
        preface: preface, including acknowledgements
        chapter: each chapter is given its own DIV element
        references: contains list of references
        appendix: each appendix is given its own
        bibliography
        glossary
        index
        colophon: describes how the book was produced
        backcover

       A book will use several of the types listed above, but few books
       will use all of them.
    */

/* which section uses which named page */

div.halftitlepage, div.titlepage, div.imprint, div.dedication {
  page: blank;
}

div.foreword, div.toc, div.preface {
  page: frontmatter;
}


/* page breaks */

div.frontcover, div.halftitlepage, div.titlepage {
  page-break-before: right;
}

div.imprint {
  page-break-before: always;
}

  div.imprint div.imprint-Title {
    font-size: 24pt;
    margin-top: -1em;
  }

  div.imprint div.imprint-Author {
    font-size: 14pt;
  }

  div.imprint div.imprint-Text {
    font-size: 8pt;
    font-family: "Georgia";
    margin-top: 5mm;
    text-align: justify;
  }

.imprint-Publisher {
  margin-top: 1em;
  font-size: 12pt;
}

.imprint-CopyEditor {
  margin-top: 1em;
  font-size: 12pt;
}

div.dedication, div.foreword, div.toc, div.preface, div.heading1, div.reference,
div.appendix, div.bibliography, div.glossary, div.index, div.colophon {
  page-break-before: right;
}

div.backcover {
  page-break-before: left;
}

/* the front cover; this code is probably not very reusable by other books */

div.frontcover {
  page: frontcover;
}

  div.frontcover img {
    position: absolute;
    width: 7in;
    height: 9.25in;
    left: 0;
    top: 0;
    z-index: -1;
  }

  div.frontcover h1 {
    position: absolute;
    left: 2cm;
    top: 1cm;
    color: Black;
    font-size: 25pt;
    font-weight: normal;
    margin-top: -1em;
  }

  div.frontcover h2 {
    position: absolute;
    right: 0;
    top: 5cm;
    left: 3.5cm;
    color: prince-color(black, overprint);
    background: White;
    font-size: 10pt;
    font-weight: normal;
    padding: 0.2em 5em 0.2em 1em;
    letter-spacing: 0.15em;
    margin-top: -1em;
  }

  div.frontcover h3 {
    position: absolute;
    left: 2cm;
    top: 7cm;
    color: Black;
    font-size: 15pt;
    font-weight: normal;
    margin-top: -1em;
  }

  div.frontcover p {
    position: absolute;
    bottom: 2.5cm;
    left: 1.3cm;
    right: 1.3cm;
    font-size: 15pt;
    color: prince-color(black, overprint);
    font-weight: bold;
    text-transform: uppercase;
    text-align: inherit;
    padding-left: 10px;
  }

/* titlepage, halftitlepage */

div.titlepage h1, div.halftitlepage h1 {
  margin-bottom: 2em;
}

div.titlepage h2, div.halftitlepage h2 {
  font-size: 1.2em;
  margin-bottom: 3em;
}

div.titlepage h3, div.halftitlepage h3 {
  font-size: 1em;
  margin-bottom: 3em;
}

div.titlepage p, div.halftitlepage p {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}


/* TOC */

ul.toc, ul.toc ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Georgia";
  font-size: 10pt;
}

  ul.toc ul {
    margin-left: 1em;
    font-weight: normal;
  }


  ul.toc > li {
    font-weight: bold;
    margin-bottom: 2em;
  }

  ul.toc a::after {
    content: leader('.') target-counter(attr(href), page);
    font-style: normal;
  }

  ul.toc > li.frontmatter a::after {
    content: leader('.') target-counter(attr(href), page, lower-roman);
    font-style: normal;
  }

  ul.toc > li.endmatter a::after {
    content: leader('.') target-counter(attr(href), page);
    font-style: normal;
  }

  ul.toc > li.chapter {
    counter-increment: tocchapter;
  }

    ul.toc > li.chapter::before {
      content: counter(tocchapter, decimal) "  ";
      margin: -1.5em 0 1em 0;
      font-weight: bold;
      page-break-after: avoid;
    }

  ul.toc > li.frontmatter .toc-header:before {
    content: "Inhaltsverzeichnis ";
  }

  ul.toc > li.frontmatter .idx-header:before {
    content: "Index ";
  }

li.section {
  font-size: 9pt;
  padding-top: 1em;
  font-family: "Georgia";
}

li.subsection {
  font-size: 8pt;
  padding-top: 1em;
  font-family: "Georgia";
}

/* chapter numbers */

h1::before {
  white-space: pre;
  margin-left: -5mm;
  font-size: 50%;
  content: "\B0  \B0 \A"; /* ornaments */
}


h1::before {
  content: "Kapitel " counter(chapter) " \A";
  margin-left: 0px;
  font-size: 18pt;
}

div.frontcover h1::before, div.titlepage h1::before, div.halftitlepage h1::before {
  content: normal; /* that is, none */
}

h1 {
  string-set: header content();
  counter-increment: chapter;
  counter-reset: figure table listing;
}

/* toc */

div.toc {
  margin-top: -7em;
}

  div.toc h1.builder {
    content: "Inhaltsverzeichnis";
  }

/* index */

div.index {
  margin-top: -7em;
}

  div.index h1.builder {
    content: "Index";
  }

ul.index {
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 1em;
  width: 100mm;
  height: 50mm;
  margin-top: -8mm;
}

  ul.index li {
    width: 48mm;
    float: left;
  }

  ul.index a::after {
    content: ", " target-counter(attr(href), page);
  }


span.element, span.attribute {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}

span.property {
  font-weight: bold;
}

ul.code li {
  list-style-type: none;
  font-family: "source Code Pro";
  font-size: 8pt;
  margin-left: -20px;
}

code, code p, span.css, span.value, span.declaration {
  font: 80% "Lucida Console", "Lucida Sans Typewriter", monospace;
  font-size: 0.8em;
}

  code p {
    line-height: 90%;
  }


