@model Texxtoor.DataModels.Models.Reader.Content.Product
@using (Html.BeginForm("EditProduct", "Products", new { id = Model.Id, area = "ReaderPortal" }, FormMethod.Post, new { id = "editProductForm" })) {
  using(Html.BtFieldset(Loc("tblHeadName", "Edit '<span data-args='0' data-desc='Model Name'>{0}</span>'", Model.Name))) {
    @Html.HiddenFor(p => p.Title)
    @Html.HiddenFor(p => p.SubTitle)
    @Html.EditorForModel()
    @Button.FormSendButtons("editProductSendButton", ViewResources.Action_Assembler_EditProduct, "editProductCancelButton", ViewResources.Button_CancelAndClose)
  }
}
