<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name ="System.ServiceModel.MessageLogging"
        switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name ="System.Runtime.Serialization" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="LogicalOperationStack"
           initializeData="D:\Temp\WCFTrace.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"/>
    </diagnostics>
    <services>
      <!-- Inline Reader App and Android App Support -->
      <service name="Texxtoor.Portal.ServiceApi.Services.ReaderService">
        <endpoint address="json" behaviorConfiguration="JsonBehavior" binding="webHttpBinding" contract="Texxtoor.Portal.ServiceApi.Services.IReaderService" />
        <endpoint address="" binding="basicHttpBinding" contract="Texxtoor.Portal.ServiceApi.Services.IReaderService" />
      </service>
      <!-- RSS Output Channel -->
      <service name="Texxtoor.Portal.ServiceApi.Services.FeedService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="FeedBehavior" contract="Texxtoor.Portal.ServiceApi.Services.IFeedService" />
      </service>
      <!-- AuthorRoom Editor Support -->
      <service name="Texxtoor.Portal.ServiceApi.Services.EditorService" behaviorConfiguration="webBehavior">
        <endpoint address="" behaviorConfiguration="JsonBehavior" binding="webHttpBinding" contract="Texxtoor.Portal.ServiceApi.Services.IEditorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Texxtoor.Portal.ServiceApi.Services.UploadService" behaviorConfiguration="webBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="AddInServiceConfiguration" contract="Texxtoor.Portal.ServiceApi.Services.IUploadService" />
        <endpoint address="json" behaviorConfiguration="JsonBehavior" bindingConfiguration="UploadServiceConfiguration" binding="webHttpBinding" contract="Texxtoor.Portal.ServiceApi.Services.IUploadService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="AddInServiceConfiguration"  maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="UploadServiceConfiguration"  maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="defaultWebBinding">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="FeedBehavior">
          <webHttp/>
        </behavior>
        <behavior name="JsonBehavior">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="webBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>