<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PortalContext"
      connectionString="Server=tcp:uqcosa8arp.database.windows.net,1433;Database=MyManuals;User ID=sql-admin-portal@uqcosa8arp;Encrypt=True;Password=Texxtoor!2011;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=true;Connection Timeout=60"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="StorageConnection"
      connectionString="DefaultEndpointsProtocol=https;AccountName=texxtoor;AccountKey=PHe4QoxQ1pSWpDXAj9ArOwptTq1uCQX4Tf5UU9UPyjtJQR9v5/t2J34zF0AXMRQUM0BH4u66HoTGJzpdFNfPnw=="
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!-- for support of Razor 3 in VS 2012 -->
    <add key="webpages:Version" value="3.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source xdt:Locator="Match(name)" name="System.Web">
        <listeners>
          <add name="sdt" xdt:Transform="Remove" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" xdt:Transform="Remove" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" allowNestedErrors="true"></customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>