  <div id="users">
  </div>
  <div id="users_settings">
    <p>Set Options for Chat. Will be stored in the profile permanently.</p>
    <div>
      <input type="radio" id="user_settings_op1" value="1" name="user_settings_op" />
      <label for="user_settings_op1">Public Visible</label><br />
      <input type="radio" id="user_settings_op2" value="2" name="user_settings_op" />
      <label for="user_settings_op2">Visible to own Teams and Groups</label><br />
      <input type="radio" id="user_settings_op3" value="3" name="user_settings_op" />
      <label for="user_settings_op3">Not Visible (appear offline)</label><br />
    </div>
    <hr />
  </div>
  <div id="users_chat">
    <p>This is a private chat room between users.</p>
    Messages go to: <span id="users_chat_peers"></span>
    <div id="users_chat_history" style="max-height: 300px; overflow-y: scroll">
    </div>
    <input type="text" id="users_chat_message" name="users_chat_message" /><img src="~/Content/icons/sent-mail_16_2.png" id="users_sent" style="display: none" />
    <hr />
  </div>
  <div id="group_chat">
    <p>Chat with your group members.</p>
    Messages go to: <span id="group_chat_peers"></span>
    <div id="group_chat_history" style="max-height: 300px; overflow-y: scroll">
    </div>
    <input type="text" id="group_chat_message" name="group_chat_message" /><img src="~/Content/icons/sent-mail_16_2.png" id="group_sent" style="display: none" />
    <hr />
  </div>
  <div id="team_chat">
    <p>Chat with your team members.</p>
    Messages go to: <span id="team_chat_peers"></span>
    <div id="team_chat_history" style="max-height: 300px; overflow-y: scroll">
    </div>
    <input type="text" id="team_chat_message" name="team_chat_message" /><img src="~/Content/icons/sent-mail_16_2.png" id="team_sent" style="display: none" />
    <hr />
  </div>