<span class="metro-head">
  <div class="TeamsDiv1">@Loc("txtIWant", "I want to...")</div>
  <span class='metro-pivot TeamsSpan'>
    <span class='pivot-item pivotitem'>
      ...@Html.ActionLink("start a project", "DemoWizard", new { wizard = "CreateProject" })
    </span>
    <span class='pivot-item pivotitem' >
      ...@Html.ActionLink("build a team", "DemoWizard", new { wizard = "BuildTeam" })
    </span>
    <span class='pivot-item pivotitem' >
      ...@Html.ActionLink("extend my network", "DemoWizard", new { wizard = "ExtendNetwork" })
    </span>
    <span class='pivot-item pivotitem' >
      ...@Html.ActionLink("sell my work", "DemoWizard", new { wizard = "SellWork" })
    </span>
  </span>
</span>
