<div class="metro-head">
  <div class="TeamsDiv1">We want to...</div>
  <div class='metro-pivot'>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("start a project", "DemoWizard", new { wizard = "CreateProject" })
      </h3>
    </div>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("build a team", "DemoWizard", new { wizard = "BuildTeam" })
      </h3>
    </div>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("sell our work", "DemoWizard", new { wizard = "SellWork" })</h3>
    </div>
  </div>
</div>
