<div class="metro-head">
  <div class="TeamsDiv1">We want to...</div>
  <div class='metro-pivot'>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("work as an co-author", "DemoWizard", new { wizard = "CoAuthorBook" })
      </h3>
    </div>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("contribute to projects", "DemoWizard", new { wizard = "Contribute" })
      </h3>
    </div>
  </div>
</div>
