<div class="metro-head">
  <div class="TeamsDiv1">We want to...</div>
  <div class='metro-pivot'>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("get knowledge online", "DemoWizard", new { wizard = "GetKnowledge" })
      </h3>
    </div>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("assemble my book", "DemoWizard", new { wizard = "AssembleBooks" })
      </h3>
    </div>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("order for my device", "DemoWizard", new { wizard = "OrderMedia" })
      </h3>
    </div>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("collaborate with others", "DemoWizard", new { wizard = "Collaborate" })
      </h3>
    </div>
  </div>
</div>
