<span class="metro-head">
  <div class="TeamsDiv1">@Loc("txtIWant", "I want to...")</div>
  <span class='metro-pivot TeamsSpan'>
    <span class='pivot-item pivotitem' >...@Html.ActionLink("get knowledge online", "DemoWizard", new { wizard = "GetKnowledge" })
    </span>
    <span class='pivot-item pivotitem' >...@Html.ActionLink("assemble my book", "DemoWizard", new { wizard = "AssembleBooks" })
    </span>
    <span class='pivot-item pivotitem' >...@Html.ActionLink("order for my device", "DemoWizard", new { wizard = "OrderMedia" })
    </span>
    <span class='pivot-item pivotitem' >...@Html.ActionLink("collaborate with others", "DemoWizard", new { wizard = "Collaborate" })
    </span>
  </span>
</span>
