<div class="metro-head">
  <div class="TeamsDiv1">We want to ...</div>
  <div class='metro-pivot'>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("create a group", "DemoWizard", new { wizard = "CreateGroup" })
      </h3>
    </div>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("discuss a subject", "DemoWizard", new { wizard = "DiscussSubject" })
      </h3>
    </div>
    <div class='pivot-item'>
      <h3>...@Html.ActionLink("manage my group members", "DemoWizard", new { wizard = "ManageMembers" })
      </h3>
    </div>
  </div>
</div>
