$monoFont: "Courier New", Courier, monospace;
$smallFont: 12px;
$mediumFont: 14px;
$largeFont: 16px;
$largerFont:18px;
$largestFont:20px;
$hugeFont: 22px;
$Containerwidth:100%;
$gridColWidth: 106px;
$gridColGutter: 16px;
$primaryBoxHeight: 212px;

body {
	overflow-x: hidden;
  background:white;
}

.dark {
	background-color: $TexxtoorClrDark; 
	color: white;
	a { 
		display: block;
		color: white;
	}
}

.medium {
	background-color: $TexxtoorClrMedium; 
	color: $TexxtoorBwDark;
	a { 
		display: block;
		color: white;
	}
}

.light {
	background-color: $TexxtoorClrLight; 
	color: $TexxtoorBwDark !important;
	a { 
		display: block;
	//  color: $TexxtoorBwDark;
	  color:white !important;
	}
}

.pagination-digg-button {
	border: 0;
	margin: 0;
	padding: 0;
	float: right;
	li {
		border: 0;
		margin: 0;
		padding: 0;
		font-size: $smallFont;
		list-style: none;
		margin-right: 2px;
		display: inline-block;
	}
	a {
		border: none;
		text-align: center;
		color: #fff !important;
		font-weight: bold;
	}  
}

.pagination-digg {
	border: 0;
	margin: 0;
	padding: 0;
	img.pagination-layout {
		float:left;
		cursor: pointer;
	}
	li {
		border: 0;
		margin: 0;
		padding: 0;
		font-size: $smallFont;
		list-style: none;
		margin-right: 2px;
	}
	a {
		border: solid 1px $TexxtoorClrMedium;
		border-radius: 1px;
		margin-right: 2px;
	}
	input {
		padding: 2px 20px 2px 2px;
		font-size: $smallFont;
		float:left;
		background-image:url('/Content/icons/magnifying-glass.gif');
		background-repeat:no-repeat;
		background-position: 100px;
		width: 100px; 
		outline: auto;
		margin: 0px;
		transition: none;
		border: solid 1px $TexxtoorClrMedium;
	}
	.previous-off, .next-off {
		border: solid 1px $TexxtoorBwLight;
		border-radius: 1px;
		color: $TexxtoorClrMedium;
		display: block;
		float: left;
		font-weight: bold;
		margin-right: 2px;
		padding: 4px 6px;
	}
	.next a, .previous a {
		font-weight: bold;
	}
	.counter {
		float:right !important;
		padding: 0px 2px 0px 1px !important;
		margin: 0px 0px 0px 5px !important;
	}
	.activeSort {
		font-weight: bold;
	}
	.active {
		background: $TexxtoorClrDark;
		color: #FFFFFF;
		font-weight: bold;
		display: block;
		float: left;
		padding: 4px 6px;
		border: solid 1px $TexxtoorClrMedium;
		a {
			&:link, &:visited {
				color: #FFFFFF;
				background: transparent;        
				display: block;
				float: left;
				padding: 4px 6px;
				text-decoration: none;
			}
			&:hover {
				border: solid 1px $TexxtoorClrDark;
			}
		}
	}
	a {
		&:link, &:visited {
			color: $TexxtoorClrMedium;
			display: block;
			float: left;
			padding: 4px 6px;
			text-decoration: none;
		}
		&:hover {
			border: solid 1px $TexxtoorClrDark;
		}
	}
	ul.pagination-drop {
		display: none;
		position: absolute;
		z-index: 50;
		background-color: #fff;    
		width: 80px;
		padding: 2px;
		margin-left: -65px;
		border: solid 1px $TexxtoorClrMedium;
		li {
			text-align: right;
			width: 60px;
			padding: 4px 6px;
			a {
				display: inline-block;
				width: 60px;
				border: 1px solid transparent;
				&:hover {
					color: #0e509e;
					border: 1px solid $TexxtoorClrDark;
				}
			}
		}
	}
}

.infobox-index {  
	margin-top: $gridColGutter;
	padding:10px 5px 5px 5px; 
	color:white !important;
	height: $primaryBoxHeight * 1.5;
  border-left: 8px solid white;
	img {
		width: 32px;
		height: 32px;
		float: left;
		margin: 5px;
	}
	.infobox-infotitle {
		display: inline-block;
		padding: 5px;
		height: $hugeFont * 2;
		font-size: $hugeFont;
		font-family: $baseFont;
		width: 150px;
		text-transform: uppercase;
		line-height: 1.2em;
	}
	.infobox-infotext {
		padding-left: 48px;
		height: $primaryBoxHeight * 1.5 - 60px;
	}
  .infobox-infomore {
    position: absolute;
    padding-right: 8px;
    bottom: 0;
    width: 100%;
    text-align:right;
  }
}

.author {
	background-color: $TexxtoorClrDark; 
}

.reader {
	background-color: $TexxtoorClrMedium; 
}

.community {
	background-color: $TexxtoorClrLight; 
}

.topmenu-logon {
	top: 0px;
	padding: 2px;
	background-color: $TexxtoorBwDark;
	width: $gridColWidth - 2; // minus padding
	height: 23px;
	text-align: center;
	font-size: $smallFont;
	text-transform: uppercase;
	margin-left: 10px;
	a {
		color: $TexxtoorBwLight;
		&:hover {
			color: $TexxtoorBwLight;
			text-decoration: underline;
		}
	}
}

.topmenu-cms-search {
	top: 0px;
	padding-left: 25px;
}

.culture-selection-logoff {
	width: $gridColWidth / 2;
	top: 0px;
	margin-left: 10px;
	img {
		float: left;
		margin-top: 5px;
		cursor:pointer;
	}
	div {
		float: left;
		padding: 2px;
		font-size: $smallFont;    
		cursor:pointer;
	}
	&.drop {
		top: auto;
		position: relative;
		display: none;
		top: 24px;
	}
}

div.sidemenu {
	padding-top: 15px;
	padding-bottom: 0px;
	font-size: $largerFont;  
  width: 220px;
}

ul.sidemenu {
	overflow: hidden;  
	margin: 0;
	padding: 0px 0px 0px 24px;
	list-style-type: none;
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAuElEQVQokZ3SS2oCQRSF4U8DjWRNCZS6CQfZhPjAYc9EDCELyMh5diDSOs2OBB8DW+wuqw14RnVu8XO4D55U666SyzDASt4MvkRQG7+Y4VWwVqTBduSP+CvfU8ybUuuJBQo7wQE9vCETbOLkOnhVsMMJXbyn4DRYINg+guMeb8rBvlLJqt/367iBM8xL94lJdVBpMDfFonRfGMXTTR3AGMvSfWOYWkm9x8sB9P+DmhI7+MDPo5N7Wme5WSaXrZ1efAAAAABJRU5ErkJggg==') /*/Content/images/arrow-25-14.png*/;
	li {
		margin-bottom: 8px;
	}
	a { 
		color: #AAAAAA;
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
}

.center-pane-divider {
	height: 45px;
	position:absolute;
	width:1400px;
  margin-left: -150px;
	background-color: #272622;
	max-width: 1400px; /* override bootstrap theme */
  td {
		vertical-align: middle;    
		&.icon {
			width: $gridColGutter * 2;
		}
	}
	&.gap {
		top: -48px;
		position: relative;
	}
}

.center-pane-container {
	text-align: left;
	height: 380px;
	width: $baseWidth + $gridColWidth - 15px;
	margin-left: -$gridColWidth;
	.landing {
		height: 380px;
		background-position: 0 0;
		background-repeat: no-repeat;
		overflow: visible;
		&.overlay {      
			background-position: 0 0;      
		}
		&.default {
			background-position: $gridColWidth 0;      
		}
		div.indextable {
			position: absolute;
			padding: 5px;
			width: $gridColWidth * 3 + $gridColGutter * 2;
		}
		table.indextable {
			font-size: $smallFont;
			display: inline-block;
			position: relative;
			width: (5 * $gridColGutter + 5 * $gridColWidth);
			left: -(5 * $gridColGutter + 5 * $gridColWidth);      
			th:first-child {
				width: $gridColWidth * 3;
			}
			th {
				width: $gridColWidth;
			}
			td {
				text-align: center;
			}
			td:first-child {
				text-align: left;
				padding: 0px;
			}
			col.texxtoor {
				background-color: $TexxtoorClrLight;
			}
		}
	}
}

.searchbox {
	width: $gridColWidth * 2 + $gridColGutter;
	border: 1px solid $TexxtoorBwDark;
	background: url(/Content/icons/magnifying-glass.gif) 0 50% no-repeat;
	input {
		height: 30px;
		color: $TexxtoorBwDark;
		font-size: $mediumFont;
		&:-moz-placeholder, &::-webkit-input-placeholder, &.placeholder {
			color: $TexxtoorBwMedium;
		}
	}
	&.filled button {
		width: 25px;
		background: url(../images/searchbox_reset.png) 50% 50% no-repeat;
	}
	&.loading button {
		background: url(../images/searchbox_loader.gif) 50% 50% no-repeat;
	}
}

// static content pages
td.page-title {
	width: $gridColWidth + 2 * $gridColGutter;
}

div.page-title {
	color: $TexxtoorBwLight;
}

.page-columns {
    font-size: $mediumFont;
    width: $gridColWidth * 6 + $gridColGutter *5;
    height: 100%;
    column-count: 2;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-gap: $gridColGutter;

    a:after {
        content: '\00a0\00bb';
    }

    a {
        color: $TexxtoorClrDark !important; // override light-theme
    }

    p > img {
        width: $gridColWidth * 3 + $gridColGutter * 2 !important;
    }

    h1 {
        -webkit-column-span: all;
        column-span: all;
        margin-top: px;
    }

    h2 {
        font-size: $largeFont;
    }

    h3 {
        font-size: $mediumFont;
    }

    div.item {
        -webkit-column-break-inside: avoid;
        -webkit-break-inside: avoid-column;
        break-inside: avoid-column;
        padding: 0;
        margin: 0;
    }

    ul, ol ul ul, ol ol, ol ul, ul ol {
        margin-left: -25px;
    }
}

div#menu-placeholder {
	menu {
		list-style-type: none;
		li {
			padding: 4px;
			background-color: $TexxtoorBwLight;
			margin: 1px 0px;
			cursor: pointer;
		}
	}
}

// some pages do not have columns (AGB etc.)
.page-nocolumns {
	column-count:1;
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */  
	position: absolute;
	width: grid-8-col;
	z-index: 500;
	background-color: white;
}

.page-head {
	position: relative;
	z-index: 100;
  height: 110px;
  text-align: right;  
	span {
    text-align: left;  
		font-size: $mediumFont;
		text-transform: uppercase;
		width: $gridColWidth + $gridColGutter;
		height: 32px;
		display: inline-block;
		padding-left: $gridColGutter;
		vertical-align: middle;
	}
	img {
		vertical-align: middle;
	}
}

.input-validation-error {
	background: lighter(#b94a48) !important;
	border: 1px solid #b94a48 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

// the error text with an arrow
.field-validation-error {
  color: red;
  display: block;
  padding: 5px 0px 5px 0px;
  margin-left: -12px;
  &:before {
    content: "\f061" " ";
    font-family: "FontAwesome";
    font-size: 12px;
    top: -1px;
    position: relative;
  }
}

.fieldHelpIcon {
	position: static;
	left: -140px;
}

.help-block-dynamic {
	visibility: hidden; // shown by script
}

.hidden-to-show {
	display: none;
}

/* Overrides for regular bootstrap to fit layout requirements */

footer {
  position: relative;
  left: 0px;
  right: 0px;
  margin-top: 20px;
  bottom: 32px; // Delta for .copyright
  background-color: $TexxtoorBwLight;
  padding-top: 1.4%;
  padding-bottom: 1.4%;

  &.h4 {
	  color: $TexxtoorBwMedium;
  }

  menu {
	  list-style-type: none;
	
	  li {
		  margin: 2px 0px 0px -40px;    
	  }

  }

  &.a {
	  color: $TexxtoorBwDark !important;
	  &:hover :visited :active {
		  color: $TexxtoorBwDark !important;
	  }
  }


}

.copyright {
  position: absolute;
  padding-top: 6px;
  bottom:0px;
  left: 0px;
  right: 0px;
  height: 40px;
  font-size: $largestFont;
  background-color: $TexxtoorClrLight;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.toprule {
  position: relative;
  top:0px;
  left: 0px;
  right: 0px;
  height: 0px;
  border-bottom: 8px solid $TexxtoorClrLight;
  width: 1200px;
/* margin-left: 7%;*/
  margin-left:0%;
}

.formsendButtons {
    margin: 15px 0px 10px 25%;
}

/** Bootstrap and Flatty Form Overrides and Extensions **/

input[type=checkbox].form-control, input[type=radio].form-control {
	height: auto;
	width: auto;
}

.form-control, .editor-mood {
  display: inline-block;
  width: auto;
}

// content in Flatty is aware of a left menu, so we need this to have common layout without a menu
.content-no-menu {
	left: 0px;
	right: 0px;
	margin-left: 0px;
	background: #fbfbfb;  
}

.container {
	max-width: $Containerwidth !important; 
	max-width: 100%
}

.wrapper {
	min-height: 800px;
}


/* JGuide - fieldHelpIcon bubbles */
/*
 * jguide 0.0.3
 * http://www.joergkrause.de
 *
 * Copyright (c) 2012 Joerg Krause (joergkrause.de)
 *
 * Licensed same as jquery - under the terms of either the MIT License or the GPL Version 2 License
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 *
 * $Date: 2012-02-09 01:07:00 +0200 (Berlin, Germany) $
 * $Revision: 101 $
 */
.jguidebubble, .arrow:after {
	background: #006633;
	border: 2px solid #C8D200;
}

.jguidebubble {
	pointer-events: none;
	display: inline-block;
	position: absolute;
	padding: 10px 20px;
	color: #DDDDDD;
	border-radius: 1px;
	margin-top: 20px;
	text-align: center;
	font: bold 14px "Merriweather Sans", Sans-Serif;
	font-stretch: condensed;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0 0 2px #006633;
	z-index: 2000;
}

.jguidecontent {
	font: 12px "Merriweather Sans", Sans-Serif;
	max-width: 350px;
	width: 300px;
	min-width: 200px;
	text-decoration: none;
	text-transform: none;
	text-align: left;
}

@mixin rotate($radius) {
  -webkit-transform: rotate($radius);
  -moz-transform: rotate($radius);
  -ms-transform: rotate($radius);
  -o-transform: rotate($radius);
  transform: rotate($radius);
}

.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px #006633, 5px 6px 9px -9px #006633;
  -moz-box-shadow: 6px 5px 9px -9px #006633, 5px 6px 9px -9px #006633;
  box-shadow: 6px 5px 9px -9px #006633, 5px 6px 9px -9px #006633;
  @include rotate(45deg);
}

.jguideflash {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: red;
	box-shadow: 0 0 12px red;
}

.jguidefieldflash {
	border: 2px solid red;
	box-shadow: 0 0 10px #A1A1A1;
	outline: none;
	border-radius: 7px;
	border-color: #A1A1A1;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.footerContent {  
  h4 {
  	color:#A1A1A1;
	  text-transform:uppercase;
  }
  menu {
  }
}

.culture-selections {
	font-size: small !important;
	font-weight:bolder;	
}

.editor-label {
  width: 25%;
  float: left;
}

.editor-field {
  width: 100%;
  min-height: 45px; /* allow labels with two lines */
  margin-left: 25%;
  table {
    border-collapse: collapse;
    &.noborder th, td {
      border-style: none;
    }  
  }
  tr {
    background: #fff;
    &.altrow {
      background: #D9D9D9;
    }
  }
  th {
    text-align: left;
    border-width: 1px;
    border-style: solid;
    color: #7BA857;
    background: #EFEFEF;
    padding: 2px 3px;
    border-color: #DFDFDF #D3D3D3 #A7A7A7 #D3D3D3;
  }
  td {
    border-color: #EFEFEF;
    padding: 2px 3px;
    vertical-align: top;
  }

  select {
    min-width: 250px;
    height: 35px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

}

.maxlength {

  font-size: 9px;
  color: green;
  
  .maxlength-warning {
     color: red;
  }

}
